/* 
   Filename: App.css
   Author: Samuel Ardis
   Date: 12/10/2021
   Portfolio 2.0
 */

/* Notes:
  -
*/

/* media / screen sizing */
  /* --iphoneSE: 325px;
  --phone: 400px;
  --smallTablet: 520px;
  --mediumTablet: 700px;
  --tablet: 825px;
  --smallScreen: 1040px;
  --bigScreen: 1150px;
  --hugeScreen: 1270px; */

 /* reset style */
 html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

 a, article, body, div, figcaption, figure, footer, header, h1, 
 h2, h3, img, li, nav, p, section, ol, ul, fieldset, form, legend, 
 input, label, textarea, option, select, dl, dt, dd, table, thead, 
 tbody, th, td, span, video, audio {
    border: 0;
    padding: 0;
    margin: 0;
}
ul {
  list-style: none;
}
input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}
button {
  border-radius: 0; 
  padding: 0.75em 1em;
  background-color: transparent;
}
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
[hidden] {
  display: none;
}
[hidden] {
  display: none !important;
}
a {
  text-decoration: none;
  color: black;
}

/* variable styles*/
:root {
  --clr-background: #EBEBEB;
  --clr-font: #1d2731;
  --clr-primary: #0B3C5D;
  --clr-secondary: #328cc1;
  --clr-pop: #d9b310;
  /* sizing */
  --font-main: 1.2em;
  --font-large: 1.5em;
  --font-icon: 3.5em;
  /* effects */
  --transition: all 0.3s ease;
}

/* dark mode styles */
.dark-mode {
  --clr-background: #1d2731;
  --clr-font: #EBEBEB;
}
.dark-mode__container {
  position: absolute;
  display: flex;
  margin: 0 auto;
  top: 75px;
  right: 40px;
}
.dark-mode__container .light__symbol{
  margin: 4px 3.5px 0 3px;
  color: var(--clr-pop);
}
.dark-mode__container .dark__symbol{
  margin: 5.5px 3.5px 0 3.5px;
  color: var(--clr-secondary);
}
.dark-mode__toggle {
  margin: 2px;
  background: transparent;
  border-radius: 50px;
  border: 3px solid #EBEBEB;
  height: 27px;
  position: relative;
  width: 50px;
}
.toggle {
  background: #EBEBEB;
  border-radius: 100px;
  height: 17.5px;
  width: 22px;
  left: 2.5px;
  margin-top: 1.4px;
  position: absolute;
  transition: var(--transition);
}
.toggle:hover {
  cursor: pointer;
}
.toggled {
  left: 19px;
}

/* dark mode responsive styles */
@media(max-width: 800px) {
  .dark-mode__container {
    top: 300px;
    right: 50px;
  }
}

/* main styles */
.App {
  background-color: var(--clr-background);
  margin: 0 auto;
}
.content {
  min-height: 75vh;
  text-align: center;
  margin: 0 auto 20px auto;
}
img {
  display: block;
  margin: 20px auto;
}
h1, h2 {
  color: var(--clr-secondary);
}

/* navigation */
.nav {
  background-color: var(--clr-primary);
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.nav .avatar-img img {
  position: absolute;
  bottom: 0px;
  left: 35px;
  padding: 0;
  margin: 0;
}
.nav h3 {
  position: absolute;
  color: #EBEBEB;
  line-height: 30px;
  padding: 5px;
  font-size: var(--font-large);
  left: 170px;
}
.nav ul {
  position: absolute;
  left: 300px;
  display: flex;
  justify-content: space-around;
}
.nav ul li {
  background-color: var(--clr-primary);
  font-weight: bold;
  margin: 0 10px;
  padding: 15px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  font-size: var(--font-main);
  transition: var(--transition);
}
.nav ul li:hover {
  border-bottom: 5px solid var(--clr-pop);
}
.nav ul li a {
  color: #EBEBEB;
}

/* navigation responsive styles */
@media (max-width: 800px) {
  .nav {
    padding: 170px 0;
  }
  .nav h3 {
    bottom: 15px;
    left: 150px;
  }
  .nav .avatar-img img {
    left: 15px;
  }
  .nav ul{
    flex-direction: column;
    width: 100%;
    padding: 0;
    left: 0;
    margin: 0 auto;
    top: 15px;
  }
  .nav ul li {
    width: 100%;
    left: 0;
    right: 0;
    margin: 8px 0;
    background-color: var(--clr-background);
  }
  .nav ul li a {
    padding-left: 42%;
    padding-right: 38%;
  }
}

/* social links */
.social-background {
  background-color:var(--clr-secondary);
  margin: 0;
  padding: 0;
}
.social-links {
  background-color:var(--clr-secondary);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.social-links a {
  color: #EBEBEB;
  margin: 20px auto 10px auto;
  font-size: var(--font-icon);
}
.social-links a:hover {
  color: var(--clr-primary);
}
hr {
  border: 3px solid var(--clr-primary);
  background-color: var(--clr-primary);
  margin: 0 0 20px 0;
  padding: 0;
}

/* social links responsive styles */
@media (max-width: 1040px) {
  .social-links {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .social-links {
    width: 95%;
  }
}

/* project styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.project {
  background-color: var(--clr-primary);
  width: 325px;
  height: 450px;
  margin: 20px;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
}
.project-img img {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.project-name {
  color: #EBEBEB;
  position: absolute;
  background-color: var(--clr-secondary);
  left: 0;
  height: 40px;
  width: 100%;
  bottom: 270px;
}
.project-name h3 {
  margin-top: 8px;
}
.project-description {
  color: #EBEBEB;
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  border: 2px solid var(--clr-font);
  right: 15px;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  height: 190px;
  bottom: 65px;
}
.project-description p:last-child {
  margin-top: 10px;
}
.project-links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  right: 15px;
  bottom: 25px;
}
.project-links a {
  background-color: var(--clr-secondary);
  color: #EBEBEB;
  font-weight: bold;
  width: 90%;
  margin: -10px 10px;
  border-radius: 5px;
  padding: 8px;
}
.project-links a:hover {
  transition: var(--transition);
  background-color: var(--clr-pop);
  color: var(--clr-secondary);
}

/* about page styles */
.about-content {
  align-items: center;
}
.about-content h3 {
  color: #EBEBEB;
  margin: 10px auto;
}
.about-name {
  margin: 20px auto;
}
.about-box {
  color: var(--clr-font);
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.about-box p span {
  font-style: italic;
}
.about-box p {
  line-height: 1.4em;
  margin-top: 10px;
}
.about-box h3 {
  background-color: var(--clr-primary);
  padding: 5px;
}
.about-title h2 {
  margin-bottom: 10px;
}
.about-img-theo {
  position: absolute;
  bottom: 2px;
  right: 25px;
  margin: 0;
}
.btn-modal {
  background-color: var(--clr-secondary);
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px 8px;
  cursor: pointer;
}
.btn-modal:hover {
  background-color: var(--clr-pop);
  color: var(--clr-primary);
  transition: var(--transition);
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: relative;
  z-index: 99;
  width: 100%;
  max-width: 12rem;
  max-height: 100%;
  margin: 0 auto;
}
.modal-close {
  position: absolute;
  font-size: 2.25rem;
  top: -250px;
  right: -40px;
  border: 0;
  -webkit-appearance: none;
  background: none;
  color: var(--clr-pop);
  cursor: pointer;
}
.modal-close:hover {
  color: #C92C4B;
}
.modal-body {
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  background-color: transparent;
}

/* contact page */
.contact-container h2 {
  margin: 20px auto;
}
form {
  width: 400px;
  margin: 25px auto 100px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  color: var(--clr-font);
  background-color: var(--clr-secondary);
  border-radius: 10px;
  padding: 20px 10px;
}
form input, textarea {
  color: var(--clr-font);
  background-color: var(--clr-background);
  margin: 10px 0;
  padding: 5px;
  font-weight: normal;
  border-radius: 5px;
}
form textarea {
  padding: 10px;
  width: 100%;
  height: 125px;
}
form input[type=submit] {
  padding: 10px;
  font-weight: bold;
  color: var(--clr-secondary);
  background-color: var(--clr-background);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 10px;
}
form input[type=submit]:hover {
  color: var(--clr-font);
  background-color: var(--clr-pop);
}

/* contact page responsive styles */
@media (max-width: 800px) {
  form {
    width: 85%;
    margin: 0 auto;
  }
}

/* footer */
footer {
  background-color: var(--clr-primary);
  color: var(--clr-font);
  width: 100%;
  padding: 50px 0;
  bottom: 0;
  display: flex;
}
footer div {
  margin: 0 auto;
}
footer a {
  color: var(--clr-font);
  margin-left: 10px;
}