/* 
   Filename: App.css
   Author: Samuel Ardis
   Date: 12/10/2021
   Portfolio 2.0
 */

/* Notes:
  - Use variables for screen sizing
*/

 /* reset style */
 html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

 a, article, body, div, figcaption, figure, footer, header, h1, 
 h2, h3, img, li, nav, p, section, ol, ul, fieldset, form, legend, 
 input, label, textarea, option, select, dl, dt, dd, table, thead, 
 tbody, th, td, span, video, audio {
    border: 0;
    padding: 0;
    margin: 0;
}
ul {
  list-style: none;
}
input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}
button {
  border-radius: 0; 
  padding: 0.75em 1em;
  background-color: transparent;
}
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
[hidden] {
  display: none;
}
[hidden] {
  display: none !important;
}
a {
  text-decoration: none;
  color: black;
}

/* media / screen sizing */

/* variable styles*/
:root {
  --clr-background: #F8F8FF;
  --clr-font: #000000;
  --clr-primary: #778DA9;
  --clr-secondary: #778DA9;
  /* sizing */
  --font-main: 1.2em;
  --font-icon: 3.5em;
  /* effects */
  --transition: all 0.3s ease;
  /* screen sizes */
  --iphoneSE: 325px;
  --phone: 400px;
  --smallTablet: 520px;
  --mediumTablet: 700px;
  --tablet: 825px;
  --smallScreen: 1040px;
  --bigScreen: 1150px;
  --hugeScreen: 1270px;
}

/* main styles */
.App {
  background-color: var(--clr-background);
  margin: 0 auto;
}
.content {
  text-align: center;
  margin: 20px auto;
}
img {
  display: block;
  margin: 20px auto;
}

/* navigation */
.nav {
  background-color: var(--clr-primary);
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
}
.nav h3 {
  padding: 10px;
  font-size: var(--font-main);
}
.nav ul {
  display: flex;
  justify-content: space-around;
}
.nav ul li {
  background-color: var(--clr-primary);
  color: var(--clr-font);
  font-weight: bold;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  font-size: var(--font-main);
  transition: var(--transition);
}
.nav ul li:hover {
  border-bottom: 5px solid var(--clr-background);
  color: var(--clr-font);
}

/* social links */
.social-links {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: space-around;
}
.social-links a {
  margin: 20px auto;
  font-size: var(--font-icon);
}
.social-links a:hover {
  color: var(--clr-primary);
}

/* project styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.project {
  background-color: var(--clr-primary);
  width: 300px;
  height: 450px;
  margin: 20px;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
}
.project-img img {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  height: 150px;
}
.project-name {
  position: absolute;
  width: 80%;
  bottom: 245px;
}
.project-description {
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  border: 2px solid var(--clr-font);
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  height: 170px;
  bottom: 65px;
}
.project-description p:last-child {
  margin-top: 10px;
}
.project-links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 80%;
  bottom: 25px;
}
.project-links a {
  background-color: var(--clr-font);
  color: var(--clr-background);
  font-weight: bold;
  width: 90%;
  margin: -10px 10px;
  border-radius: 5px;
  padding: 8px;
}

/* footer */
footer {
  background-color: var(--clr-primary);
  color: var(--clr-font);
  width: 100%;
  padding: 50px 0;
  bottom: 0;
  display: flex;
}